// @import '_variables';
@import "~src/assets/css/_variables";
.header-container {
  background: $color-main;

  .navbar-brand {
    img {
      width: 100px;
      height: 100px;
    }
  }
  .nav-item {
    &:hover {
      background: darken($color: $color-main, $amount: 4)
    }
    .nav-link {
      text-transform: uppercase;
      color: $color-white;
      // font-weight: 500;
    }
  }
  .navbar-nav {
    transition: 1s all ease;
    .dropdown-item.active, .dropdown-item:active {
      background: lighten($color: $color-secondary, $amount: 10);
      color: white;
      
    }
  }
  input {
    padding-right: 30px;
    background-image: url('src/assets/imgs/icons/search.svg');
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 20px;
  }
}

