<footer class="footer-container">
    <div class="container">
      <div class="row align-items-start">
          <div class="col text-center">
            <img src="../../assets/imgs/logo.png" alt="logo">
            <p class="footer-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Delectus laboriosam maxime reprehenderit nostrum ullam veniam totam nesciunt et officiis quas, 
              nisi ex, quisquam, perspiciatis quia eligendi amet cupiditate facere earum.
            </p>
          </div>
          <div class="col">
            <h3 class="title-third">Menu</h3>
            <hr>
            <nav class="nav">
              <a class="nav-link active" href="#">Encontre carretos</a>
              <a class="nav-link" href="#">Encontre usuários</a>
              <a class="nav-link" href="#">Cadastrar</a>
              <a class="nav-link " href="#">Sobre nós</a>
              <a class="nav-link " href="#">Contato</a>
            </nav>
          </div>
          <div class="col">
            <h3 class="title-third">Redes Sociais</h3>
            <hr>
            <div class="">
                <i class="fab fa-facebook-square icon-social-network"></i>
                <!-- <i class="fab fa-instagram icon-social-network"></i> -->
                <i class="fab fa-linkedin icon-social-network"></i>
                <i class="fab fa-twitter-square icon-social-network"></i>
            </div>
          </div>
          <div class="col">
              <h3 class="title-third">Fale com a gente</h3>
              <hr>
              <p class="p-text">Cruzeiro 505</p>
              <p class="p-text">BH/MG</p>
              <p class="p-text">(31)911456675</p>
              <p class="p-text">contato@carretosbh.com</p>
          </div>
        </div>
        
    </div>
  </footer>
  <div class="text-center f-cw">© 2018 - Carretos/BH</div>