@import "~src/assets/css/_variables";

.col {
  padding: 41px 15px;
}
input {
  &:focus {
    border-color: rgba($color: $color-main, $alpha: .2);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(243, 131, 55, 0.27);
  }
}