<div class="container">
  <div class="row">
    <div class="w-100 text-center">
      <h1 class="title-main">Recentes adicionados</h1>
    </div>
    <div class="col-md-4">
      <div class="card-fretista">

        <!-- CARD WRAPPER -->
        <div class="card-wrapper">
        <div class="row">
          <div class="col-sm-3">
            <div class="card-user-image">
                <img src="../../assets/imgs/people.png" class="img-fluid" alt="Pessoa">
            </div>
          </div>
          <div class="col-sm-9">
            <div class="card-user-name">
              Lucas Breitembach
            </div>
            <div class="card-user-occupation">
              Fretista
            </div>
            <div class="card-user-stars">
              <img src="../../assets/imgs/icons/star.png" alt="avaliações">
              <img src="../../assets/imgs/icons/star.png" alt="avaliações">
              <img src="../../assets/imgs/icons/star.png" alt="avaliações">
              <img src="../../assets/imgs/icons/star.png" alt="avaliações">
            </div>
          </div>
        </div>
          <div class="col-sm-12">
              <img src="../../assets/imgs/Carreto2.png" class="img-fluid" alt="Carro">
          </div>
        </div>
        <!-- CARD WRAPPER END -->

      </div>
    </div>
    
  </div>
</div>