<div class="container">
  <div class="row">
    <div class="filter-content horizontally-centralized">
      <div class="col-md-3">
        <label class="label-filter">Filtrar por: </label>
      </div>
        <div class="filter-buttons col-md-9">
            <button *ngFor="let filter of filters"  class="filter-button btn btn-secondary" (click)="setFilterRegion(filter.value)">
              + {{filter.viewValue}}
            </button>
        </div>
    </div>
      <!-- CARD WRAPPER -->
      <div class="col-md-4" *ngFor="let freight of freights">
        <div class="card-wrapper shadow p-2 mb-5 rounded" (click)="setFreight(freight._id)">
        <div class="row card-user-header">
          <div class="col-sm-3">
            <div class="card-user-image">
                <img src="assets/imgs/people.png" class="img-fluid" alt="Pessoa">
            </div>
          </div>
          <div class="col-sm-9">
            <div class="card-user-name">
              {{freight.nameCompany}}
            </div>
            <div class="card-user-occupation">
              Telefone: <b>{{freight.telephone}}</b>
            </div>
            <div class="card-user-occupation">
              E-mail: <b>{{freight.email}}</b>
            </div>
            <div class="card-user-stars">
              <img src="assets/imgs/icons/star.png" alt="avaliações">
              <img src="assets/imgs/icons/star.png" alt="avaliações">
              <img src="assets/imgs/icons/star.png" alt="avaliações">
              <img src="assets/imgs/icons/startWithoutColor.png" alt="avaliações">
              <img src="assets/imgs/icons/startWithoutColor.png" alt="avaliações">
            </div>
          </div>
        </div>
          <div class="col-sm-12">
            <img src="assets/imgs/Carreto2.png" class="img-fluid" alt="Carro">
         </div>
         <div class="region-buttons col-sm-12">
            <button mat-button class="region-button w-100">
                + {{freight.regionServed}}
            </button>
        </div>
         <!-- <div class="col-sm-12 regionServed">
           <b>Região atendida: {{freight.regionServed}}</b>
         </div> -->
         <div class="col-sm-12">
              {{freight.description}}
          </div>
          
        </div>
      </div>
      <!-- CARD WRAPPER END -->
    
  </div>
</div>