@import "~src/assets/css/_variables";

.card-wrapper {
  .card-user-header {
    margin-top: 10px;
    margin-bottom: 1rem;
  }
  .card-user-image {

  }
  .card-user-name {
    font-weight: bold;
    font-size: 20px;
  }
  .card-user-occupation {
    font-style: italic;
  }
  .card-user-stars {
    img {
      width: 17px;
    }
  }
  .img-fluid{
    width: 50vh;
  }
  &:hover {
    .mat-button {
      background: $color-main;
    }
  }
 
}

.filter-buttons{
  margin-top: 20px;
  margin-bottom: 25px;
  width: 100%;
}
.filter-buttons button{
  left: 19vh;
  
} 

.filter-button {
  width: 22%;
  background-color: #212529;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin-left: 10px;  
  margin-top: 5px; 
}

.label-filter {
  margin-top: 23px; 
  position: absolute;
  left: 18vh;
  font-size: 23px;
}

.filter-content{
  width: 77vw;
}

.region-button {
  width: 50%;
  background-color: #212529;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin-left: 10px;  
  margin-top: 5px; 
  text-transform: uppercase;
}

.region-buttons{
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
}