<div class="container">
  <div class="row">
    <div class="w-100 text-center">
      <h1 class="title-main p-3">Informações dos usuários</h1>
    </div>
      <!-- CARD WRAPPER -->
      <div class="col-md-4" *ngFor="let user of users">
        <div class="card-wrapper shadow p-2 mb-5 rounded" (click)="setUser(user._id)">
        <div class="row card-user-header">
          <div class="col-sm-3 align-self-center">
            <div class="card-user-image">
                <img [src]="genderImg(user.gender)" class="img-fluid" alt="Pessoa">
            </div>
          </div>
          <div class="col-sm-9">
            <div class="card-user-name">
              {{user.name}}
            </div>
            <div class="card-user-occupation">
              Telefone: <b>{{user.telephone}}</b>
            </div>
            <div class="card-user-occupation">
              E-mail: <b>{{user.email}}</b>
            </div>
            <div class="card-user-stars">
              <img src="assets/imgs/icons/star.png" alt="avaliações">
              <img src="assets/imgs/icons/star.png" alt="avaliações">
              <img src="assets/imgs/icons/star.png" alt="avaliações">
              <img src="assets/imgs/icons/startWithoutColor.png" alt="avaliações">
              <img src="assets/imgs/icons/startWithoutColor.png" alt="avaliações">
            </div>
          </div>
        </div>
        <div class="col-sm-12 regionServed">
          <b>Endereço: {{user.address}} - {{user.district}} </b>
        </div>
         <div class="col-sm-12">
              {{user.description}}
          </div>
          
        </div>
      </div>
      <!-- CARD WRAPPER END -->
    
  </div>
</div>