@import "~src/assets/css/_variables";

.main-container-login {
  background-image: linear-gradient(to bottom,$color-main,$color-secondary);
  color: white;
  padding: 74px;
  padding-top: 10px;
  padding-bottom: 171px;
  // .bg {
  //   background-image: url("src/assets/imgs/truck.svg");
  //   background-repeat: no-repeat;
  //   background-position-y: center;
  //   opacity: .4;
  // }
  h3 {
    color: #fff;
  }
  
  .input-group-text {
    width: 57px;
  }
  .btn-main {
    text-transform: uppercase;
  }
  input {
    background: transparent;
    color: #dadada;
    &:focus {
      border-color: white;
      border-width: 1px;
      box-shadow: 0 0 0 0.2rem rgba(252, 253, 255, 0.15) ;

    }
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #dadada;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #dadada;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
      color: #dadada;
  }
}
.input-group-text {
  background: transparent;
  color: white;
  font-size: 33px;
}