body {
  margin: 0;
}

hr {
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #fff;
  margin-top: -1px;
  border-width: 2px;
}
h3 {
  font-size: 20px;
}
.white {
  color: #fff;
}
a {
  &:hover {
    color: #fff;
  }
}