
// @import "~src/assets/css/_variables";
// @import "./src/assets/css/_buttons";
@import 'node_modules/angular2-toaster/src/toaster';

* {
    outline: none!important;
}

body {
    margin: 0!important;
}

/* --- Useful classes --- */
.flex {
    display: flex;
}

.fully-centralized {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertically-centralized {
    display: flex;
    align-items: center;
}

.horizontally-centralized {
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.full-img-background {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.rotating {
    animation: twist 3s linear 0s infinite; 
}

.mat-form-field-flex{
    width: 45vw !important;
}